{{!-- 新增會議的小視窗 --}}
<div class="modal fade" id="NewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="NewMeetingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewMeeting">新增會議</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/create" method="POST" name="createConfForm" onsubmit="return checkCreateForm()">
                    <div style="padding:1% 1%">
                        <div class="row" style="width: 100%; margin:0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <label for="meetingname">會議名稱：</label>
                                <input type="text" class="form-control" id="meetingname" name="name" required>
                            </div>

                            <div class="col-sm">
                                <label for="">建立者：</label>
                                <input type="text" class="form-control" id="createUser" value="{{name}}" disabled>
                            </div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <label for="starttime">開始時間：</label>
                                <input type="datetime-local" class="form-control" id="starttime" name="startTime"
                                    required>
                            </div>
                            <div class="col-sm">
                                <label for="endtime">結束時間：</label>
                                <input type="datetime-local" class="form-control" id="endtime" name="endTime" required>
                            </div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <label for="employeeList">主持人編號：</label>
                                <input class="form-control" list="staffList" name="chairId" size="10" required>
                                <datalist id="staffList">
                                    {{!-- 遍歷使用者陣列 --}}
                                    {{#each users}}
                                    <option value="{{this.staffId}}">{{this.name}}</option>
                                    {{/each}}
                                </datalist>
                            </div>
                            <div class="col-sm">
                            </div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <label for="theme">主題議程：</label>
                                <textarea class="form-control edit" id="theme" value="" name="topic"
                                    required></textarea>
                            </div>
                            <div class="col-sm">
                                <label for="explain">說明：</label>
                                <textarea class="form-control edit" id="explain" value="" name="explain"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <div class="row">
                                    <div class="col">
                                        <label>地點：</label>
                                    </div>
                                    <div class="col  text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm" id="addlocation">
                                            <span aria-hidden="true">&#10010; 新增</span>
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped"
                                    style="width: 100%; background:#fffffe; background-size:auto; margin-top: 1%;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">空間名稱</th>
                                            <th scope="col">刪除</th>
                                        </tr>
                                    </thead>
                                    <tbody id="locationlist">
                                        <tr class="attendee" id="dellocation">
                                            <th scope="row">
                                                <input class="form-control" list="locationList" name="roomId" required>
                                                <datalist id="locationList">
                                                    {{!-- 遍歷新空間陣列 --}}
                                                    {{#each confRooms}}
                                                    <option value="{{this._id}}">{{this.name}}</option>
                                                    {{/each}}
                                                </datalist>
                                            </th>
                                            <td>
                                                {{!-- <button type="button" class="btn btn-outline-danger btn-sm"
                                                    id="deleteattend">
                                                    <span aria-hidden="true">&#10006;</span>
                                                </button> --}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0 auto;padding:1% 2%">
                            <div class="col-sm">
                                <div class="row">
                                    <div class="col">
                                        <label>與會人員：</label>
                                    </div>
                                    <div class="col  text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm" id="addattend">
                                            <span aria-hidden="true">&#10010; 新增</span>
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped"
                                    style="width: 100%; background:#fffffe; background-size:auto; margin-top: 1%;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">員工編號</th>
                                            <th scope="col">參與身分</th>
                                            <th scope="col">與會模式</th>
                                            <th scope="col">刪除</th>
                                        </tr>
                                    </thead>
                                    <tbody id="attendeelist">
                                        <tr class="attendee" id="delattendee">
                                            <th scope="row">
                                                <input class="form-control" list="employeeList" name="attendees"
                                                    size="10" required>
                                                <datalist id="employeeList">
                                                    {{!-- 遍歷使用者陣列 --}}
                                                    {{#each users}}
                                                    <option value="{{this.staffId}}">{{this.name}}</option>
                                                    {{/each}}
                                                </datalist>
                                            </th>
                                            <td>
                                                <select class="form-control" name="attendTypes" required>
                                                    <option value="1">出席</option>
                                                    <option value="2">列席</option>
                                                </select>
                                            </td>
                                            <td valign="middle">
                                            </td>
                                            <td>
                                                {{!-- <button type="button" class="btn btn-outline-danger btn-sm"
                                                    id="deleteattend">
                                                    <span aria-hidden="true">&#10006;</span>
                                                </button> --}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:right;margin:2%">
                        <button class="btn btn-danger" type="submit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>